<h2 class= "home_text">Create an account</h2>

<%= form_for(resource, as: resource_name, url: users_path) do |f| %>
    <div class="text_filds">
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :username, class: "text_labels_filds"  %><br />
        <%= f.text_field :username, autocomplete: "off", class: "inputs_filds"  %>
      </div>

      <div class="field">
        <%= f.label :email, class: "text_labels_filds"  %><br />
        <%= f.email_field :email, autocomplete: "off", class: "inputs_filds"  %>
      </div>

      <div class="field">
        <%= f.label :name, class: "text_labels_filds"  %><br />
        <%= f.text_field :name, autocomplete: "off", class: "inputs_filds"   %>
      </div>

      <div>
        <%= f.label :avatar, style: "display: block", class: "text_labels_filds"  %>
        <%= f.file_field :avatar, class: "avatar_filds" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "text_labels_filds"  %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "inputs_filds"  %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "text_labels_filds"  %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "inputs_filds"  %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "buttom_regis" %>
      </div>

      <br><br><br>
      <p class="text-center">Already a member?<p>
      <div class="login_buttom">
      <%= render "devise/shared/links" %>
      </div>
    </div>
<% end %>
