<%= form_with(model: tweet) do |form| %>
  <%if replied_to_id %>
  <%= form.hidden_field :replied_to_id, value: replied_to_id %>
  <% end %>
  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <% if tweet[:body].nil? %>
    <%= form.submit :Tweet %>
    <% else %>
    <%= form.submit :Update %>
    <% end %>
  </div>
<% end %>
