<%= render "form", tweet: @tweet %>

<div id="tweets">
  <% @tweets.reverse().each do |tweet| %>
    <div>
      <% @user.each do |user| %>
        <div>
          <%= link_to user do %>
            <% if user.id == tweet.user_id%>
              <%if user.avatar.attached?%>
                <div >
                  <%= image_tag user.avatar%>
                </div>
              <%else%>
                <div >
                  <%= image_tag "icons_avatars/unknow_icon.png"%>
                </div>
              <%end%>
              <%= user.name%>
              @<%= user.username%>
            <%end%>
          <% end %>
        </div>
      <% end %>
      <%= link_to tweet do %>
        <div>
          <%= time_ago_in_words(tweet.created_at) %> ago
          <%= tweet.body %>
        </div>
      <% end %>
    </div>
    <p>
      <strong>Replies count:</strong>
      <%= @tweets.where(replied_to_id: tweet.id).size %>
    </p>

    <p>
      <strong>Likes count:</strong>
      <%= tweet.likes_count %>
    </p>
  <% end %>
</div>