<%= render "form", tweet: @tweet %>

<div id="tweets">
  <% @tweets.reverse().each do |tweet| %>
    <div>
      <% @users.each do |user| %>
        <div>
          <%= link_to user do %>
            <% if user.id == tweet.user_id%>
              <%if user.avatar.attached?%>
                <div >
                  <%= image_tag user.avatar%>
                </div>
              <%else%>
                <div >
                  <%= image_tag "icons_avatars/unknow_icon.png"%>
                </div>
              <%end%>
              <%= user.name%>
              @<%= user.username%>
            <%end%>
          <% end %>
        </div>
      <% end %>
      <%= link_to tweet do %>
        <div>
          <%= time_ago_in_words(tweet.created_at) %> ago
          <%= tweet.body %>
        </div>
      <% end %>
    </div>
    <p>
      <strong>Replies count:</strong>
      <%= @tweets.where(replied_to_id: tweet.id).size %>
    </p>

    <p>
      <% if user_signed_in?%>
        <% like = Like.find_by(tweet_id: tweet.id, user_id: current_user.id) %>
          <% if like%>
            <%= button_to 'Unlike', url_for(controller: 'likes', action: 'destroy', id: like.id, tweet_id: tweet.id), method: :delete, remote: true %>
            <%= @likes.where(tweet_id: tweet.id).size %> 
          <% else %>
            <%= button_to 'Like', url_for(controller: 'likes', action: 'create', tweet_id: tweet.id), method: :post, remote: true %>
            <%= @likes.where(tweet_id: tweet.id).size %> 
          <% end %>
      <% else %>
      <span>Likes </span >
      <%= @likes.where(tweet_id: tweet.id).size %> 
      <% end %>
    </p>
  <% end %>
</div>