<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= user.username %>
    <%if user.avatar.attached?%>
      <div >
        <%= image_tag user.avatar%>
      </div>
    <%else%>
      <div >
        <%= image_tag "icons_avatars/unknow_icon.png"%>
      </div>
    <%end%>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_registration_path %>
